.about {
  &__img-spoon {
    display: none;
  }

  &__img-coffee {
  }

  &__text {
  }

  &__text-desktop {
    display: none;
  }

  &__less {
    // display: none;
  }

  &__more {
    display: none;
  }
}
