.about {
  background-color: var(--secondary-bg-color);

  // @media screen and (min-width: 768px) {
  //   display: flex;
  // }
  // @media screen and (min-width: 1200px) {
  // }

  &__img-spoon {
    display: none;
  }

  &__img-coffee {
    margin-bottom: 16px;
  }

  &__text {
    column-gap: 20px;
  }

  &__text-desktop {
    display: none;
  }

  &__less {
    margin-top: 16px;
  }

  &__more {
    display: none;
  }
}

.about .container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
  }
}
