.about {
  background-color: var(--secondary-bg-color);
  &__img-spoon {
    display: none;
  }

  &__img-coffee {
    margin-bottom: 16px;
  }

  &__text {
    margin-top: 8px;
  }

  &__text-desktop {
    display: none;
  }

  &__less {
    margin-top: 16px;
  }

  &__more {
    display: none;
  }
}
