.contacts {
  // background-color: #fff;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    // background-color: var(--secondary-bg-color);
    // margin-top: 164px;
    padding-top: 20px;
    padding-bottom: 73px;
  }
}
.contacts-title {
  // margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.contacts-description {
  //   display: flex;
  text-align: center;
  margin-bottom: 16px;
}
.footer {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 15;
  // background-size: contain;
  // background-image: url(../images/contact/plate-mob-1x.png);
  // background-repeat: no-repeat;
  // background-position: 100%;
  // padding: 32px 0 46px 0;

  &__img {
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -5;
  }

  .footer__img-tab {
    display: none;
  }

  .footer__img-desk {
    display: none;
  }

  @media screen and (min-width: 768px) {
    height: 180px;
    .footer__img {
      display: none;
    }

    .footer__img-desk {
      display: none;
    }

    .footer__img-tab {
      display: block;
      width: auto;
      position: absolute;
      bottom: 30px;
      right: 0;
      z-index: -5;
    }
  }

  @media screen and (min-width: 1280px) {
    background-color: var(--secondary-bg-color);
    height: 280px;

    .footer__img {
      display: none;
    }

    .footer__img-tab {
      display: none;
    }

    .footer__img-desk {
      display: block;
      width: auto;
      position: absolute;
      bottom: 80px;
      right: 0;
      z-index: -5;

      .social-link {
        margin-bottom: 0;
      }

      .footer-list {
        align-items: flex-start;
      }
    }
  }

  &-container {
    height: 100%;
  }

  &-list {
    height: 100%;
    align-items: center;
  }

  // @media (min-device-pixel-ratio: 2),
  //   (-webkit-min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: url(../images/contact/plate-mob-2x.png);
  // }

  // @media screen and (min-width: 768px) {
  //   padding-bottom: 112px;
  //   background-image: url(../images/contact/plate-tab-1x.png);

  //   @media (min-device-pixel-ratio: 2),
  //     (-webkit-min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: url(../images/contact/plate-tab-2x.png);
  //   }
  // }

  // @media screen and (min-width: 1280px) {
  //   padding-top: 90px;
  //   padding-bottom: 232px;
  //   background-color: var(--secondary-bg-color);

  //   background-image: url(../images/contact/plate-desk-1x.png);

  //   @media (min-device-pixel-ratio: 2),
  //     (-webkit-min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: url(../images/contact/plate-desk-2x.png);
  //   }
  // }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   margin-bottom: 16px;
}

.form-container__data {
  background: transparent;
  border: 2px solid transparent;
  border-bottom: 1px solid #ab816c;
  width: 100%;
  outline: none;
  &:hover,
  &:focus {
    border: 2px solid #ab816c;
    border-radius: 5px;
  }
}

.data-email {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    width: 336px;
    margin-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
    margin-bottom: 16px;
  }
}

.data-tel {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.form-container__data::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--registration-bg-color);
}
.form-container__data:not(:placeholder-shown):required:invalid {
  border-color: red;
  background-color: #fbd8d8;
}

// 111111111111111
// .form-data__email {
//   display: block;
//   margin-bottom: 20px;
//   //   background: none;
//   background-color: transparent;
//   border: none;
//   outline: none;
//   border-bottom: 1px solid #ab816c;
//   //   width: 280px;
//   width: 100%;

//   &:hover,
//   &:focus {
//     border: 2px solid #ab816c;
//   }

//   @media screen and (min-width: 768px) {
//     width: 336px;
//     margin-bottom: 18px;
//   }

//   @media screen and (min-width: 1280px) {
//     width: 394px;
//     margin-bottom: 16px;
//   }
// }
// !!!!!!!!!!!!!!!!!!!
// .form-data__tel {
//   background: transparent;
//   border: transparent;
//   border-bottom: 1px solid #ab816c;
//   margin-bottom: 32px;
//   width: 100%;

//   @media screen and (min-width: 768px) {
//     width: 336px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 394px;
//   }
// }

.button {
  display: block;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  height: 40px;
  background-color: #ab816c;
  border: transparent;
  border-radius: 25px;
  font-family: 'Caveat Brush';
  font-size: 18px;
  line-height: 1.27;
  color: #ffffff;
  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}

// .social-link__icon {
//   fill: #2e2520;
// }
// .social-link__item:not(:last-child) {
//   margin-right: 16px;
// }

.foot-soc {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 61px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 74px;
  }
}

.footer-list {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    margin-right: 62px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 108px;
    padding-right: 305px;
    align-items: flex-start;
    padding-top: 50px;
  }
}

.footer-list__link {
  font-size: 16px;
  line-height: 20px;
  color: #2e2520;
  display: flex;
  align-items: center;
}

.contact-list__icon {
  margin-right: 4px;
  fill: #2e2520;
}
