.footer {
  width: 100%;
  // background-size: contain;
  //     @media not all,
  //       screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  //       screen and (min-width: 768px) and (min-resolution: 192dpi),
  //       screen and (min-width: 768px) and (min-resolution: 2dppx) {
  //       background-image: url(../images/registration/donut-tab-2x.png), url(../images/registration/confetti-tab-2x.png);
  //     }
}
.footer-container {
  height: 80px;
  @media screen and (min-width: 768px) {
    height: 115px;
  }
  @media screen and (min-width: 1280px) {
    height: 236px;
  }
}

.footer-list {
  display: flex;
  justify-content: space-between;
  //   align-items: center;
  @media screen and (min-width: 768px) {
    margin-right: 62px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 108px;
    padding-right: 305px;
    align-items: flex-start;
  }
}

.footer-list__link {
  font-size: 16px;
  line-height: 20px;
  color: #2e2520;
  display: flex;
  align-items: center;
}

.footer-list__icon {
  margin-right: 4px;
  fill: #2e2520;
}
