.price {
}
.price__grid {
}

.price__card {
    background-color: var(--primary-bg-color);
    border-radius: 40px;

    background-image: url(../images/svg/prise/prise-mob-drops.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}
.price__title-card {
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;

    padding-bottom: 16px;
}
.price__title {
    font-weight: 400;
    font-size: 24px;
    line-height: calc(30 / 24);
    text-align: center;

    padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .price__title {
        font-size: 36px;
        line-height: calc(45 / 36);
    }
}

@media screen and (min-width: 1280px) {
}
