.program {
  background-color: var(--secondary-bg-color);
  &__text-top {
    margin-top: 8px;
  }

  &__benefits-list {
    position: relative;
  }

  &__benefit {
    position: relative;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    align-content: center;
    align-items: center;
  }

  &__benefit span {
    display: flex;
    align-items: center;
  }

  &__benefit span::before {
    content: url(../images/svg/donut.svg);
    height: 16px;
    margin-right: 7px;
  }

  &__text-bottom {
    display: none;
    @media screen and (min-width: 1280px) {
      display: block;
    }
  }

  &__container-text {
    font-size: 16px;
    line-height: 1.25;

    @media screen and (min-width: 768px) {
      width: 336px;
    }
    @media screen and (min-width: 1280px) {
      width: 392px;
      font-size: 18px;
      line-height: 1.25;
    }
  }

  &__container-img {
    // max-width: 440px;
    // margin: 0 auto;
  }

  &__orders-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // column-gap: 20px;
  }

  &__order {
    display: block;
    width: 130px;
    flex-basis: calc((100% - 40px) / 2);
  }

  &__order:nth-child(1) {
    margin-bottom: 65px;
    margin-top: 55px;
    @media screen and (min-width: 768px) {
      margin-bottom: 70px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 80px;
    }
  }

  &__order:nth-child(2) {
    margin-top: auto;
  }

  &__order:nth-child(4) {
    margin-top: 60px;
    @media screen and (min-width: 768px) {
      margin-top: 65px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 75px;
    }
  }

  &__order-point {
    position: relative;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;

    background-color: var(--menu-bg-color);
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

    @media screen and (min-width: 768px) {
      width: 152px;
      height: 152px;
    }
    @media screen and (min-width: 1280px) {
      width: 180px;
      height: 180px;
    }
  }

  &__order-img {
    width: 77px;
    height: 80px;
    display: block;
    position: absolute;
    top: -40px;
    left: 25px;

    @media screen and (min-width: 768px) {
      width: 82px;
      height: 90px;
      top: -40px;
      left: 35px;
    }
    @media screen and (min-width: 1280px) {
      width: 97px;
      height: 107px;
      top: -50px;
      left: 40px;
    }
  }

  &__order-title {
    margin-top: 30px;

    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;

    @media screen and (min-width: 768px) {
      margin-top: 45px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 24px;
      line-height: 1.25;
    }
  }

  &__order-text {
    margin-top: 4px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;

    @media screen and (min-width: 768px) {
      margin-top: 14px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 16px;

      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__order-icon {
    fill: var(--svg-color);

    @media screen and (min-width: 768px) {
      width: 21px;
      height: 21px;
    }
    @media screen and (min-width: 1280px) {
      width: 25px;
      height: 25px;
    }
  }
}

.about {
  &__less {
  }

  &__more {
  }
}

.program-container {
  // justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    justify-content: space-around;
  }
}
