.program {
  background-color: var(--secondary-bg-color);
  &__text-top {
    margin-top: 8px;
  }

  &__benefits-list {
  }

  &__benefit {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &__text-bottom {
    display: none;
  }

  &__block-img {
    // position: relative;
  }

  &__orders-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__order:nth-child(1) {
    margin-bottom: 64px;
    margin-right: 33px;
    margin-top: 55px;
  }

  &__order:nth-child(2) {
    margin-top: auto;
    margin-right: 33px;
  }

  &__order:nth-child(3) {
    margin-right: 33px;
  }

  &__order:nth-child(4) {
    margin-top: 59px;
    margin-right: 33px;
  }

  &__order-wrapper {
    position: relative;
  }

  &__order-point {
    // position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    // margin-bottom: 24px;

    background-color: var(--menu-bg-color);
  }

  &__order-img {
    width: 77px;
    height: 80px;
    display: block;
    position: absolute;
    top: -40px;
    left: 25px;
  }

  &__order-title {
    margin-top: 30px;

    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
  }

  &__order-text {
    margin-top: 4px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }

  &__order-icon {
    fill: var(--svg-color);
  }
}

.about {
  &__less {
  }

  &__more {
  }
}
