<section class="section">
  <div class="container price">
    <h3 class="price__title subtitle">Price</h3>
    <ul class="price__grid">
      <li class="price__card">
        <h4 class="price__title-card">Easy start</h4>
        <ul class="price__list">
          <li class="price__item">-features of yeast dough preparation</li>
          <li class="price__item">-preparation of liquid caramel for stuffing</li>
          <li class="price__item">-preparation of raspberry and strawberry filling</li>
          <li class="price__item">-fry and glaze donuts</li>
        </ul>
        <a class="btn hero__btn link" type="button" href="#registration">Register</a>
      </li>
      <li class="price__card">
        <h4 class="price__title-card">I want delicious donuts</h4>
        <ul class="price__list">
          <li class="price__item">-features of yeast dough preparation</li>
          <li class="price__item">-preparation of liquid caramel for stuffing</li>
          <li class="price__item">-preparation of raspberry and strawberry filling</li>
          <li class="price__item">-melt chocolate for decoration</li>
          <li class="price__item">-fry and glaze donuts</li>
          <li class="price__item">-donut decoration. painting and various techniques</li>
        </ul>
        <a class="btn hero__btn link" type="button" href="#registration">Register</a>
      </li>
      <li class="price__card">
        <h4 class="price__title-card">Premium</h4>
        <ul class="price__list">
          <li class="price__item">-features of yeast dough preparation</li>
          <li class="price__item">-preparation of liquid caramel for stuffing</li>
          <li class="price__item">-preparation of raspberry and strawberry filling</li>
          <li class="price__item">-melt chocolate for decoration</li>
          <li class="price__item">-fry and glaze donuts</li>
          <li class="price__item">-donut decoration. painting and various techniques</li>
          <li class="price__item">-After party and donut tasting with speakers</li>
          <li class="price__item">-2 private lessons with one of the speakers</li>
        </ul>
        <a class="btn hero__btn link" type="button" href="#registration">Register</a>
      </li>
    </ul>
  </div>
</section>
