<section class="section reviews" id="reviews">
  <div class="container">
    <h2 class="subtitle">Reviews</h2>
    <div class="reviews__list">
      <article class="item-1 reviews__item">
        <picture class="reviews__images">
          <source srcset="./images/reviews/john-tab-1x.png 1x, ./images/reviews/john-tab-2x.png 2x" media="(min-width:1280px)" type="image/png" />
          <source srcset="./images/reviews/john-desk-1x.png 1x, ./images/reviews/john-desk-2x.png 2x" media="(min-width:768px)" type="image/png" />
          <img class="reviews__images" src="./images/reviews/john-tab-1x.png" alt="John" />
        </picture>
        <div>
          <ul class="rate__list">
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-fill"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star null"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
          </ul>
          <p>John</p>
        </div>
      </article>
      <article class="item-2 reviews__item">
        <picture>
          <source srcset="./images/reviews/will-desk-1x.png 1x, ./images/reviews/will-desk-1x.png 2x" media="(min-width:1280px)" type="image/png" />
          <source srcset="./images/reviews/will-tab-1x.png 1x, ./images/reviews/will-tab-1x.png 2x" media="(min-width:768px)" type="image/png" />
          <source srcset="./images/reviews/will-mob-1x.png 1x, ./images/reviews/will-mob-1x.png 2x" media="(max-width:767px)" type="image/png" />
          <img class="reviews__images" src="./images/reviews/will-mob-1x.png" alt="Will" />
        </picture>
        <div>
          <ul class="rate__list">
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-fill"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star null"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
          </ul>
          <p>Will</p>
        </div>
      </article>
      <article class="item-3 reviews__item">
        <picture>
          <source srcset="./images/reviews/elisabeth-tab-1x.png 1x, ./images/reviews/elisabeth-tab-1x.png 2x" media="(min-width:1280px)" type="image/png" />
          <source srcset="./images/reviews/elisabeth-desk-1x.png 1x, ./images/reviews/elisabeth-desk-1x.png 2x" media="(min-width:768px)" type="image/png" />
          <img class="reviews__images" src="./images/reviews/elisabeth-tab-1x.png" alt="Elisabeth" />
        </picture>
        <div>
          <ul class="rate__list">
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-fill"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star null"><use href="./images/svg/icon.svg#star-empty"></use></svg>
            </li>
          </ul>
          <p>Elisabeth</p>
        </div>
      </article>
    </div>
    <div class="reviews__description">
      <p>
        Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to
        cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly
        recommend it to everyone!
      </p>
    </div>
  </div>
  <div class="reviews__content">
    <p class="reviews__decorate">2/15</p>
  </div>
</section>
