<section class="section">
  <div class="speakers container">
    <h2 class="speakers__titel subtitle">Speakers</h2>
    <ul class="speakers__grid">
      <li class="speakers__card">
        <div class="speakers__card-img">
          <img
            class=""
            src="../images/speakers/speaker_1-mob-1x.png"
            alt="фото"
            width=""
            height=""
          />
        </div>
        <div class="speakers__box">
          <h3 class="speakers__card-titel">Molly Rivera</h3>
          <p class="speakers__card-text">
            Pastry chef, master chocolatier of Spain
          </p>
        </div>
      </li>
      <li class="speakers__card">
        <div class="speakers__card-img">
          <img class="" src="" alt="фото" width="" height="" />
        </div>
        <div class="speakers__box">
          <h3 class="speakers__card-titel"></h3>
          <p class="speakers__card-text"></p>
        </div>
      </li>
      <li class="speakers__card">
        <div class="speakers__card-img">
          <img class="" src="" alt="фото" width="" height="" />
        </div>
        <div class="speakers__box">
          <h3 class="speakers__card-titel"></h3>
          <p class="speakers__card-text"></p>
        </div>
      </li>
      <li class="speakers__card">
        <div class="speakers__card-img">
          <img class="" src="" alt="фото" width="" height="" />
        </div>
        <div class="speakers__box">
          <h3 class="speakers__card-titel"></h3>
          <p class="speakers__card-text"></p>
        </div>
      </li>
    </ul>
  </div>
</section>
